body{
    background: url('../../images/augustine-wong-li0iC0rjvvg-unsplash.jpg');
    background-size:cover;
background-repeat: no-repeat;
height: 20rem;
font-family: Lato, sans-serif;
}


h1{
    text-align:center;
    font-size: 3rem;
   
}


.form {
padding: 0 150px 0 150px;
text-align: center;


}


label.label {
    font-size: 2rem;
   
   
   
}

.btnPost{
    background-color:#61b15a;
    color:white;
    display:inline-block;
    align-items: center;
}
