
header{
   
    background: url('../../images/Titleimage.png');
background-size:cover;
background-repeat: no-repeat;
    height: 20rem;
  


  
   
    

   
}

.navbar{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: azure;
    

   
   
}


a.link{
    text-decoration: none;
}

.customNav{
    background:orange;
}



